<section class="salon background-color-aero">
    <div class="salon__container">
        <div class="salon__header">
            <button class="salon__exit-button" (click)="goToLoginPage()">Sair</button>
            <h1 class="salon__title">Salão</h1>
            <button class="salon__orders" (click)="goToOrders()">
                Pedidos Prontos
                <span class="salon__orders-badge">{{kitchenService.get2().length}}</span>
            </button>
        </div>
        <div class="salon__menu-buttons">

            <button class="salon__kitchen" (click)="openModalWindow()">
                <span>Pedidos</span>
                <span class="salon__kitchen-badge">{{salonCartService.get().length}}</span>
            </button>

            <button class="salon__menu-buttons-item" (click)="selectAll()">Todas as refeições</button>
            @for(button of buttonArr; track button) {
            <button class="salon__menu-buttons-item" (click)="selectProduct(button)">{{button}}</button>
            }
        </div>

        <div class="salon__options">
            <div class="salon__options-container" *ngFor="let product of products | appProduct: category">
                <div class="card background-color-white">
                    <div class="card__bg"></div>
                    <div class="card__image">
                        <img src={{product.imageUrl}} alt={{product.name}}>
                    </div>
                    <p class="card__name text-color-indigo-dye">{{product.name}}</p>
                    <p class="card__price text-color-indigo-dye">{{product.price | appBrazilianReal}}</p>
                    <button class="card__button background-color-indigo-dye text-color-white"
                        (click)="addtoCart(product)">Incluir</button>
                </div>
            </div>
        </div>
    </div>
</section>

@if(isTheModalOpened) {
<section class="modal">
    <div class="modal__content">
        <div class="modal__close">
            <button (click)="closeModalWindow()">Fechar</button>
        </div>
        <h1 class="modal__title text-color-indigo-dye">Detalhes do pedido</h1>

        <form class="modal__form" [formGroup]="orderForm">
            <div class="modal__form-item">
                <label for="server" class="text-color-indigo-dye">Atendente</label>
                <select name="server" id="server" class="modal__form-input" formControlName="server">
                    <option value="">Selecione um nome: </option>
                    @for(user of users; track user) {
                    <option value={{user.name}}>{{user.name}}</option>
                    }
                </select>
            </div>
            <div class="modal__form-item">
                <label for="client" class="text-color-indigo-dye">Cliente</label>
                <input type="text" class="modal__form-input" formControlName="client">
            </div>
            <div class="modal__form-item">
                <label for="table_number" class="text-color-indigo-dye">Número da mesa</label>
                <select name="table_number" id="table_number" class="modal__form-input" formControlName="table_number" (change)="onChange($event)">
                    <option value="">Selecione a mesa: </option>
                    @for(table of tableArr; track table) {
                    <option [ngValue]="table">{{table}}</option>
                    }
                </select>
            </div>
            <div class="modal__form-item">
                <label for="productName" class="text-color-indigo-dye">Nome do produto</label>
                <select name="productName" id="productName" class="modal__form-input" formControlName="productName">
                    <option value="">Selecione o produto </option>
                    @for(product of products; track product) {
                    <option value={{product.name}}>{{product.name}}</option>
                    }
                </select>
            </div>
            <div class="modal__form-item">
                <label for="productId" class="text-color-indigo-dye">Id do produto</label>
                <select name="productId" id="productId" class="modal__form-input" formControlName="productId" (change)="onChange($event)">
                    <option value="">Selecione o id do produto: </option>
                    @for(product of products; track product.productId) {
                    <option [ngValue]="product.productId">{{product.productId}}</option>
                    }
                </select>
            </div>
            <div class="modal__form-item">
                <label for="quantity" class="text-color-indigo-dye">Quantidade</label>
                <input type="number" class="modal__form-input" name="quantity" id="quantity" min="1"
                    formControlName="quantity">
            </div>


        </form>

        <div>
            @for(item of salonCartService.get(); track item.productId) {
            <div class="modal__product">
                <p class="modal__product-id text-color-indigo-dye">{{item.productId}}</p>
                <img src={{item.imageUrl}} alt={{item.name}} class="modal__product-image">
                <p class="text-color-indigo-dye">{{item.name}}</p>
                <button class="modal__product-button" (click)="decrement(item.productId)"
                    [disabled]="item.quantity === 0">
                    <img src="../../assets/icons8-menos-50.png" alt="menos" class="modal__product-button-img">
                </button>
                <p class="text-color-indigo-dye">{{item.quantity}}</p>
                <button class="modal__product-button" (click)="increment(item.productId)">
                    <img src="../../assets/icons8-mais-50.png" alt="mais" class="modal__product-button-img">
                </button>
                <p class="text-color-indigo-dye">{{ item.price | appBrazilianReal }}</p>
                <button class="modal__product-button" (click)="deleteFromCart(item)">
                    <img src="../../assets/icons8-lixo-64.png" alt="lata de lixo" class="modal__product-button-img">
                </button>
            </div>
            }
        </div>
        <h3 class="modal__content-total text-color-indigo-dye">Total: {{ salonCartService.getTotal() | appBrazilianReal
            }}</h3>

        <button class="modal__kitchen-button" (click)="addOrder()">Enviar para a cozinha</button>
    </div>
</section>
}