@import '../../styles/mixins';

.card {
    box-shadow: 0px 2px 8px 0px #ecf0f1;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    &__bg {
        background-image: url('../../assets/bg-card.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 10rem;
        width: 100%;
    }

    &__image img {
        clip-path: circle(60px at center);
        margin-top: 5.5rem;
        width: 12rem;
    }

    &__name {
        @include raleway-font;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__price {
        margin: 1rem 2rem;
        font-size: 1rem;
        @include raleway-font;
        font-weight: bold;
    }

    &__button {
        width: 100%;
        border: none;
        font-size: 1rem;
        @include raleway-font;
        font-weight: bold;
        padding: 1rem;
        cursor: pointer;
    }
}

.modal {
    @include modal-bg;

    &__content {
        @include modal-content;
    }

    &__close {
        float: right;
        @include button2;
    }

    &__header, &__body, &__footer {
        @include modal-padding;
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
      }
      
}

.salon {
    @include general;

    &__container {
        width: 80%;
        margin: 0 auto;
    }

    &__header, &__menu-buttons {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__exit-button, &__orders-button {
        @include button2;
    }

    &__title {
        @include title;
    }

    &__menu-buttons {
        &-item {
            @include button2;
        }
    }

    &__options {
        @include card-grid;
    }
}