@import '../../styles/mixins';

.card {
    box-shadow: 0px 2px 8px 0px #ecf0f1;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    @include column-two;

    &__bg {
        background-image: url('../../assets/bg-card.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 10rem;
        width: 100%;
    }

    &__image img {
        clip-path: circle(60px at center);
        margin-top: 5.5rem;
        width: 12rem;
    }

    &__name {
        @include raleway-font;
        font-size: 0.95rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__price {
        margin: 1rem 2rem;
        font-size: 1rem;
        @include raleway-font;
        font-weight: bold;
    }

    &__button {
        width: 100%;
        border: none;
        font-size: 1rem;
        @include raleway-font;
        font-weight: bold;
        padding: 1rem;
        cursor: pointer;
    }
}

.salon {
    @include general;

    &__container {
        width: 80%;
        margin: 0 auto;
    }

    &__options {
        @include flex-container;

        &-container {
            @include flex2;
        }
    }

    &__header,
    &__menu-buttons {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__exit-button {
        @include button2;
    }

    &__title {
        @include title;
    }

    &__orders {
        @include notification;

        &-badge {
            @include badge;
        }
    }

    &__kitchen {
        @include notification;

        &-badge {
            @include badge;
        }
    }

    &__menu-buttons {
        &-item {
            @include button2;
        }

    }
}

.modal {
    @include modal-bg;
    @include raleway-font;

    &__content {
        @include modal-content;
    }

    &__close {
        margin: 1rem 0;
        float: right;

        button {
            @include button2;
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
    }

    &__form {
        &-item {
            margin: 1rem 0;
            @include bold;
        }

        &-input {
            @include input;
        }
    }

    &__product {
        @include flex-container2;
        margin: 0.5rem 0;

        &-id {
            @include bold;
        }

        &-image {
            width: 5%;
            height: 5%;
        }

        &-button {
            border: none;
            background: none;
            cursor: pointer;

            &-img {
                width: 40%;
            }
        }

    }

    &__kitchen-button {
        margin: 1rem 0;
        @include button2;
    }
}