<section class="orders background-color-aero">
    <div class="orders__container">
        <div class="orders__header">
            <button class="orders__exit-button" (click)="goToMenu()">Menu</button>
            <h1 class="orders__title">Pedidos Prontos</h1>
        </div>
    </div>

    <div class="orders__ready">
        <div class="orders__ready-container">
            <div class="card background-color-white">
                <p class="card__name text-color-indigo-dye"></p>
                <p class="card__price text-color-indigo-dye">Id do produto:</p>
                <p class="card__price text-color-indigo-dye">Atendente:</p>
                <p class="card__price text-color-indigo-dye">Cliente:</p>
                <p class="card__price text-color-indigo-dye">Número da mesa:</p>
                <p class="card__price text-color-indigo-dye">Quantidade:</p>
                <button class="card__button background-color-indigo-dye text-color-white">Pedido Pronto</button>
            </div>
        </div>
    </div>
</section>
