<h1>Bella Burger</h1>

<form [formGroup]="loginForm" [patchFormGroupValues]="loginFormValues$" (submit)="onSubmit()">
  <label for="email">E-mail</label>
  <input
    id="email"
    name="email"
    type="email"
    formControlName="email"
    required
    aria-required="true"
  />
  <span 
  *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched ||
      isSubmitted)"
  class="error">{{errorMessage}}</span>
  <label for="password">Senha</label>
  <input
    id="password"
    name="password"
    type="password"
    formControlName="password"
    required
    aria-required="true"
  />
  <span 
  *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched ||
      isSubmitted)"
  class="error">{{errorMessage}}</span>
  <input type="checkbox" name="kitchen" id="kitchen" aria-required="true" formControlName="kitchen" (change)="onChange($event)">Cozinha
  <input type="checkbox" name="salon" id="salon" aria-required="true" formControlName="salon" (change)="onChange($event)">Salão

  <div>
    <button type="submit">Entrar</button>
  </div>
</form>


<p>Se não tem cadastro, <button (click)="goToRegisterPage()">clique aqui</button></p>
