@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$colors: (
    "indigo-dye": #084B83,
    "aero": #42BFDD,
    "mint-green": #BBE6E4,
    "anti-flash-white": #F0F6F6,
    "white": #ffffff,
    "black": #000000,
);

@mixin for-tablet {
    @media (max-width: 52.125rem) {
        @content;
    }
}

@each $color, $i in $colors {
    .text-color-#{$color} {
        color: $i;
    }
}

@mixin width {
    width: 100%;
}

@mixin width50 {
    width: 50%;
}

@each $color, $i in $colors {
    .background-color-#{$color} {
        background: $i;
    }
}

@each $color, $i in $colors {
    .text-color-#{$color}-hover:hover {
        color: $i;
        cursor: pointer;
    }
}

@each $color, $i in $colors {
    .background-color-#{$color}-hover:hover {
        background-color: $i;
        cursor: pointer;
    }
}

@each $color, $i in $colors {
    .border-#{$color} {
        border: 1px solid $i;
    }
}

@mixin borderRadius {
    border-radius: 5px;
}

@mixin error-message {
    color: red;
}

@mixin raleway-font {
    font-family: "Raleway", sans-serif;
}

@mixin playfair-font {
    font-family: "Playfair Display", serif;
}

@mixin form {
    @include width;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 20px;
    @include raleway-font();
}

@mixin bold {
    font-weight: bold;
}

@mixin input {
    @include width;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1.5px solid #084B83;
    background-color: #F0F6F6;
    @include borderRadius();
    box-sizing: border-box;
}

@mixin button {
    @include width;
    padding: 15px 0;
    border: none;
    background-color: #084b83;
    color: white;
    text-transform: uppercase;
    @include raleway-font();
    @include bold;
    cursor: pointer;
    border-radius: 5px;
}

@mixin link {
    text-transform: uppercase;
}

@mixin button-link {
    background: none;
    padding: 10px 5px;
    text-transform: uppercase;
    @include bold;
    @include raleway-font();
    cursor: pointer;
    border: none;
    @include borderRadius();
}

@mixin general {
    @include width;
    min-height: 100vh;
}

@mixin container {
    width: 70%;
    margin: 0 auto;
    padding: 10rem 0;
}

@mixin card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    margin: 2rem;
}

@mixin button2 {
    border: none;
    padding: 0.5rem 1rem;
    @include borderRadius;
    color: #084B83;
    font-weight: 700;
    background-color: #F0F6F6;
    text-transform: uppercase;
    cursor: pointer;

}

@mixin modal-bg {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

@mixin modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@mixin modal-padding {
    padding: 2px 16px;
    background-color: #ffffff;
}

@mixin title {
    @include playfair-font;
    font-style: italic;
    color: #ffffff;
    font-size: 2rem;
}