<section class="kitchen background-color-aero">
    <div class="kitchen__container">
        <div class="kitchen__header">
            <button class="kitchen__exit-button" (click)="goToLoginPage()">Sair</button>
            <h1 class="kitchen__title">Cozinha</h1>
            <button class="kitchen__reload-button" (click)="reload()">Recarregar Página</button>
        </div>
        <div class="kitchen__orders">
            <div class="kitchen__orders-grid" *ngFor="let order of kitchenOrdersArr; let i = index">
                <div class="card background-color-white kitchen__orders-column">
                    <p class="card__name text-color-indigo-dye">{{order.productName}}</p>
                    <p class="card__price text-color-indigo-dye">Id do produto: {{order.productId}}</p>
                    <p class="card__price text-color-indigo-dye">Atendente: {{order.server}}</p>
                    <p class="card__price text-color-indigo-dye">Cliente: {{order.client}}</p>
                    <p class="card__price text-color-indigo-dye">Número da mesa: {{order.table_number}}</p>
                    <p class="card__price text-color-indigo-dye">Quantidade: {{order.quantity}}</p>
                    <button type="button" class="card__button background-color-indigo-dye text-color-white" (click)="transferOrders(order)">Enviar Pedido</button>
                </div>
            </div>
        </div>
    </div>
</section>

@if(isTheModalOpened) {
    <section class="modal">
        <div class="modal__content">
            <h1 class="modal__content-title text-color-indigo-dye">O pedido está pronto?</h1>
            <div class="modal__content-container">
                <button>Sim</button>
                <button (click)="goBackToKitchen()">Não</button>
            </div>
        </div>
    </section>
}